@(message: String)

@main(message) {

    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
        <!-- ============================================================== -->
        <!-- Wrapper -->
        <!-- ============================================================== -->
    <div id="wrapper">
            <!-- ============================================================== -->
            <!-- Topbar header - style you can find in pages.scss -->
            <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                    <!-- /Logo -->
                <ul class="nav navbar-top-links navbar-center">
                    <li>
                        <h2 id="title">@message</h2>
                    </li>
                    <li>
                        <form role="search" class="app-search m-r-10">
                            <label id="activities">
                                    <!-- filled by client -->
                            </label>
                        </form>
                    </li>
                    <li>
                        <form role="search" class="app-search m-r-10">
                            <label id="levels">
                                    <!-- filled by client -->
                            </label>
                        </form>
                    </li>
                    <li>
                        <form role="search" class="app-search m-r-10">
                            <label id="cities">
                                    <!-- filled by client -->
                            </label>
                        </form>
                    </li>
                    <li>
                        <form id="searchbuddies" role="search" class="app-search m-r-10">
                                <!-- filled by client -->
                        </form>
                    </li>
                    <li>
                        <a class="profile-pic" href="#"> </a>
                    </li>
                </ul>
            </div>
                <!-- /.navbar-header -->
                <!-- /.navbar-top-links -->
                <!-- /.navbar-static-side -->
        </nav>
            <!-- End Top Navigation -->

            <!-- ============================================================== -->
            <!-- Page Content -->
            <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">

                    <!-- ============================================================== -->
                    <!-- chat-listing & recent comments -->
                    <!-- ============================================================== -->
                <div class="row">
                        <!-- .col -->
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Buddies</h3>
                            <div id="sportbuddies" class="comment-center p-t-10">
                                    <!-- filled by client -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!-- /.container-fluid -->
            <footer class="footer text-center">HEIG-VD SportBuddy 2017 &copy; Template Ample Admin by wrappixel.com </footer>
        </div>
    </div>


}